* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
}
body {
  background-color: teal;
}
form {
  background-color: #fff;
  min-width: 500px;
  padding: 20px;
  border-radius: 5px 10px;
  margin: 10px;
  /* display:flex; */
}
form * {
  cursor: pointer;
}
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  opacity: 0;
}
label {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px dashed black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.preview {
  border-radius: 10px;
  display: flex;
  /* justify-content:center; */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.preview img {
  width: 180px;
  height: 150px;
  border: 1px solid red;
  margin: 10px;
  object-fit: contain;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
}
#loading.active {
  visibility: visible;
  opacity: 1;
}
#loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 4px solid #feca47;
  border-right-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1.5s cubic-bezier(0.09, 0.6, 0.8, 0.03) infinite;
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
